@import url("../vendor/normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,500;1,600&family=Proza+Libre:ital,wght@0,500;0,700;1,500;1,700&family=Puritan:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html{
  scroll-behavior: smooth; 
}
.page{
  background: black;
  font-family: "Poppins", Arial, sans-serif;
}

.page__content{
 max-width: 1440px;
 margin: auto;
}

.header{
  height: 75px;
  position: absolute;
  top: 52px;
  width: 100%;
  z-index: 2;
}

.sticky {
  position: fixed;
  top: 5px;
  opacity: .8;
  transition: opacity 1s ease;
}

.header__content {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  margin: auto;
  padding: 0 75px;
  max-width: 1440px;
  background: #141414;
}

.header__logo-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 184px;
  max-height: 65px;
}

.header__links {
  display: grid;
  align-items: center;
  column-gap:46px;
  list-style: none;
  padding: 0;
  margin: 0;
  grid-auto-flow: column;
}

.header__link {
  font-family: Proza Libre;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  text-align: left;
  text-decoration: none;
  color: #FFFFFF;
  transition: .5s;
}

.header__link:hover {
  opacity: .8;
}

.logo {
  padding-right: 5px;
}

.logo__text {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 26px;
text-transform: uppercase;
}

/* .cover {
  background-image: url("../images/cover.png");
  min-height:600px;
  background-size: cover;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
} */

.cover__phone-container {
  flex-direction: row;
  display: flex;
  top: 15px;
  margin-right: 75px;
  /* margin-top: 10px; */
  margin-bottom: -30px;
  position: relative;
  justify-content: flex-end;
}


.phone-logo {
  color: white;
  max-height: 30px;
  max-width: 30px;
  z-index: 2;
}

.cover__phone-number {
  font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
color: #FFFFFF;
margin: 0;
padding: 0;
z-index: 2;
}

/* slider test*/
.cover {
  min-height: 600px;
}



.cover__slider {
  display: flex;
  max-width: 1440px;
  height: 600px;
}

.cover__item {
  max-width: 1440px;
  height: 600px;
}

.cover__text {
  float: right;
  margin: 200px 75px 0 0 ;
  padding: 0;
  max-width: 430px;
  height: 250px;
  font-family: Proza Libre;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 49px;
color: #FFFFFF;
text-shadow: 5px 4px 7px rgba(0, 0, 0, 0.8);
}

.cover__item-steak {
  background-image: url(../images/cover/steak.png);
  background-size: cover;
  background-position: center;
}

.cover__item-meat {
  background-image: url(../images/cover/meat.jpg);
  background-size: cover;
  background-position: center;
}

.cover__item-cows{
  background-image: url(../images/cover/cows.jpg);
  background-size: cover;
  background-position: center;
}


.slick-dots{
  position: absolute;
  bottom: 20px;
  display: block;
  width: 100%;
  padding: 10;
  margin: 0;
  list-style: none;
  text-align: center;
  }

  .slick-dots li.slick-active button:before{
    font-size:15px;
    color:white;
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
/* slider test*/

.home {
  background: #141414;
  min-height: 375px;
}

.home__grid{
  padding: 95px 165px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 88px;

}

.home__grid-item {
  display: inline-block;
}

.home__grid-item-title {
  margin: 0 0 18px 0;
  padding: 0;
  font-family: Proza Libre;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  color: #FFFFFF;
  
}

.home__grid-item-text {
  margin: 0;
  padding: 0;
  font-family: Puritan;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF; 
}

.about {
  display: flex;
  justify-content: center;
  padding: 195px 215px 0px 215px;
  background: #5D111C;
}
.section__container {
  max-width: 1009px;
}

.section__title {
  margin: 0 0 40px 0;
  padding: 0;
  font-family: Proza Libre;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 65px;
text-align: center;
color: #FFFFFF;
}

.section__text {
  margin: 0;
  padding: 0;
  font-family: Puritan;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 33px;
/* or 33px */
letter-spacing: 0.025em;
color: #FFFFFF;
}

.signature {
  float: right;
}

.products {
  background: #5D111C;
  padding: 195px 0 0 0 ;
}

.products__container {
  padding-bottom: 100px;
}

.products__title {
  text-align: center;
  font-family: Proza Libre;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 49px;
color: #A51819;
margin: 0;
padding: 0 0 35px 0;
}

.products__grid {
  padding: 0 135px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:auto;
  gap: 50px;
  list-style: none;
}

.products__image {
  max-width: 100%;
}

.products__text {
  font-family: Puritan;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 18px;
text-align: center;
color: #FFFFFF;
}

.transport {
  background-image: url("../images/Vector.svg");
  display: flex;
  justify-content: center;
  padding: 245px 215px;
  background-color: #5D111C;
}

.contact {
  padding: 100px 190px;
}

.section__title_red {
  color: red;
}

.contact__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact__text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  /* or 24px */
  
  color: #FFFFFF;



}

.contact__label {
  color: white;
  font-family: Puritan;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
}

.contact__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* .contact-form {

} */

.contact-form__title {
  font-family: Proza Libre;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 33px;
color: #FFFFFF;
margin: 0;
padding: 0;

}

.contact-info__title {
  font-family: Proza Libre;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 33px;
color: #FFFFFF;
margin: 0;
padding: 0;
}

.contact-form__input-fields {
  display: flex;
  flex-direction: column;
}

.contact-form__input {
  margin-top: 16px;
  padding-left: 20px;
max-width: 543px;
height: 64px;
background: #C4C4C4;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 5px;
font-family: Proza Libre;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #000000;
}

.contact-form__input_message {
  height: 230px;
}

.contact-form__submit {
  font-family: Proza Libre;
  box-sizing: border-box;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;
width: 100%;
height: 60px;
margin-top: 16px;
background: #A51819;
border: 0;
border-radius: 5px;
}

.footer__grid-item {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  padding: 50px 135px;
  display: flex;
  box-sizing: border-box;
  background-color: #5D111C;
  flex-direction: row;
  justify-content: space-between;
}

.footer__logo {
  padding-right: 5px;
  max-width: 85px;
}

.footer__title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

.footer__text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
font-size: 14px;
line-height: 20px;
margin: 0;
padding:0;
color: #FFFFFF;
}

.footer__logo-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 184px;
  max-height: 65px;
  margin-bottom: 10px;
}

.footer__form-label {
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 20px;
color: #FFFFFF;
display: block;
margin-bottom: 10px;
}


.footer__form-input {
max-width: 220px;
font-family: Proza Libre;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
border-radius: 5px;
}

.footer__form-submit {
  font-family: Proza Libre;
  box-sizing: border-box;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;
max-width: 220px;
height: 32px;
margin-top: 16px;
background: #A51819;
border: 0;
border-radius: 5px;
}
